@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@font-face {
	font-family: 'DungGeunMo';
	src: url('/fonts/DungGeunMo/DungGeunMo.woff2') format('woff2'),
		url('/fonts/DungGeunMo/DungGeunMo.woff') format('woff'),
		url('/fonts/DungGeunMo/DungGeunMo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'DungGeunMo', Arial, Helvetica, sans-serif;
}